#titulo{
    border: red 10px dotted;
    padding: 10px;
}
#subtitulo{
    border: blueviolet 8px solid;
    padding-left: 10px;
    margin-top: 200px;
}
#titulo_centrado{
    border: blueviolet 8px solid;
    width: 200px;
    margin:auto;
    margin-top: 40px;
    text-align: center;
}
.centrado{
    border: green 8px solid;
    width: 50px;
    margin:auto;
    margin-top: 40px;
    text-align: center
}
.inLineToBlock{
    display: block;
}
#ContenedorPruebaPosition{
    position: absolute;
    border: green 5px solid;
    width: 1000px;
    height: 500px;
}
.divEstatico{
    position:static;
    border: red 5px solid;
    background-color: black;
    width: 100px;
    height: 100px;
}
#divRelativo{
    position: relative;
    border: blueviolet 5px solid;
    background-color: chartreuse;
    width: 100px;
    height: 100px;
    top:30px;
    left: 150px;
}
#divAbsoluto{
    position: relative;
    border: black 5px solid;
    background-color: chartreuse;
    width: 100px;
    height: 100px;
    top:30px;
    left: 500px;
}

#divSticky{
    position: sticky;
    border: pink 5px solid;
    background-color:darkslateblue ;
    width: 100px;
    height: 100px;
    top:30px;
    left: 150px;
}