.flex {
    display: flex;
    flex-direction: row;
    width: 525px;
    height: 115px;
    border-top: 1px; color: black  solid;
    border-color: black; 
}
.azul {
    background-color: rgb(5, 5, 102);
}
.blanco {
    background-color: white;
}
.rojo {
    background-color: red;
}
.pequeño{
    height: 90px;width: 150px;
}
.grande{
    height: 90px;width: 300px;
}
.pr {
    padding-right: 20px;
} 
.pb {
    padding-bottom: 90px;    
} 
.pt{
    padding-top: 10px;
    margin-top: 14px;
}
.mb {
   margin-bottom: 16px; 
}  
.mr {
    margin-right: 40px;
} 
.pl {
    padding-left: 15px;
}
.grid{
    display: grid;
    height: auto;
    width: 520px;
    grid-template-columns: auto 200px 330px;
    grid-template-rows: 100px 10px 100px;
    gap: 10px 50px;
}
.cuadro1{
    height: 100px;
    width: 160px;
    grid-row: 1;
    grid-column: 1;
}
.cuadro2{
    padding-top: 10px;
    grid-row: 3;
    grid-column: 1;
    height: 100px;
    width: 160px;
}
.alineado-derecha-inferior{
    grid-column: 3;
    grid-row: 3;
}
.alineado-derecha-superior{
    grid-column: 4;
    grid-row: 1;
}
.alineado-izquierda-inferior{
    grid-column: 1;
    grid-row: 4;
}
.rectangulo1{
    grid-row: 0;
    grid-column: 2;
    height: 100px;
    width: 330px;
    padding-left: 10px;
}
.rectangulo2{
    grid-row: 3;
    grid-column: 2;
    height: 100px;
    width: 330px;
    padding-inline-start: 10px;
    padding-top: 10px;
}