.contenedor-grid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows:100px 100px 100px;   
    gap: 100px 50px
}

.elementoGrid{
    background: blue;
}

.contenedor-grid-layout{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto;
    row-gap: 50px;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera"
    "principal principal . menu"
    "pie pie pie pie"
    ;
}
.cabecera{
    grid-area:cabecera;
    background-color: green;
}
.principal{
    grid-area: principal;
    background-color: orange;
}
.menu{
    grid-area: menu;
    background-color: red;
}
.pie{
    grid-area: pie;
}